html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nie znaleziono strony
        link(rel="stylesheet", href="css/404.css")
    body
        h1 Nie znaleziono strony (404)
        img(src="/img/404.gif", alt="")