html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UwU OwO 1.0
        link(rel="stylesheet", href="css/login.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
        script Cookies.remove('code'); Cookies.remove('name')
    body
        main.form-signin
            form(action='/login' method='POST')
                img.mb-4.mx-auto.d-block(src='img/home.png' alt='' width='120')
                h1.h3.mb-3.fw-normal.text-center uwu
                label.visually-hidden(for='inputEmail') Nickname
                input#inputEmail.form-control(type='text' placeholder='Nickname' required='' autofocus='' name='name')
                label.visually-hidden(for='inputPassword') Admin password (optional)
                input#inputPassword.form-control(type='password' placeholder='Admin password (optional)' name='password')
                .checkbox.mb-3
                button.w-100.btn.btn-lg.btn-primary(type='submit') Join
                p.mt-5.mb-3.text-muted &copy; 
                    a(href="https://github.com/JokurPL/" target="_blank") giga przegryw

