html
    head
        title uwu
        link(rel="stylesheet", href="css/movie.css")
    body(onload="loginCheck();")
        main
            div.video 
                video(controls id="video")
                    source(src="/video", type='video/mp4')
            div.chat 
                iframe(src='https://www.twitch.tv/embed/policjant___/chat?darkpopout&parent=moviesync.herokuapp.com&parent=www.moviesync.herokuapp.com' )

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
        script(src="js/sync.js")