* {
    margin: 0 !important;
    padding: 0 !important;
    outline: none;
}

body {
    background-color: rgb(24, 24, 27) !important;
}

main {
    /* width: 100vw;
    height: 100vh; */
}

video {
    width: 100%;
    z-index: 1;
    /* height: auto;
    position: relative;
    top: 50; */
}

.video {
    width: 85% !important;
    float: left;
}

.chat {
    width: 15% !important;
    height: 100%;
    float: left;
    z-index: 999;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 999;
}

.options {
    position: absolute;
    right: 11%;
    bottom: .5%;
    display: flex;
}

.options .btn {
    width: 43px;
    padding: 5% !important;
    background-color: #9147ff !important;
    border: none !important;
    outline: none !important;
    margin: 5% !important;
}

.options .btn:focus {
    display: none !important;
}

.options .btn:hover {
    background: rgba(119, 44, 232) !important;
}

@media (min-width:100px) and (max-width:1000px) {
    .video {
        width: 100% !important;
        display: flex;
    }
    video {
        position: relative;
        top: 0;
        width: 100% !important;
        height: auto !important;
        /* object-fit: cover; */
    }
    iframe {
        width: 100% !important;
        height: 100% !important;
    }
    .chat {
        width: 100% !important;
        height: 400px;
    }

    .options {
        position: relative;
        left: 0%;
        bottom: 8%;
        display: flex;
    }

    .options .btn {
        width: auto !important;
        margin: 0 !important;
        margin-left: 2% !important; 
        padding: 1% !important;
    }
}